<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../../static/admin/js/vendor/jquery/jquery.js"></script>

</head>
<body>

<h2>Welcome to HELL</h2>
<div class="align-left">
    <script src="../../static/admin/js/calendar.js"></script>
    <h3>Pick somewhere to go!</h3>
    <p href="crimepaysbutbloggingdoesnt.com/post/">Posts</p>
</div>
</body>
</html>