<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../../static/admin/js/vendor/jquery/jquery.js"></script>

</head>
<body>

<h2>Maybe one day there will be a post here, but until then I am going to enjoy the brand new season of the Sapranos</h2>
<div>
    <script src="../../static/admin/js/calendar.js"></script>
    <h1>Posts</h1>

</div>
</body>
</html>